<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      
      <ion-back-button color="success" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title color="success" class="ion-text-center">Registro estudiantil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <ion-card>
    <ion-card-header class="ion-text-center">
      <ion-card-title color="success">Registro estudiantil</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form>
        <ion-item>
          <ion-label color="success" position="floating">Nombre</ion-label>
          <ion-input type="text" [(ngModel)]="usuario.nombre" name="nombre" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="success" position="floating">Correo</ion-label>
          <ion-input type="email" [(ngModel)]="usuario.correo" name="correo" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="success" position="floating">Carrera</ion-label>
          <ion-input type="text" [(ngModel)]="usuario.carrera" name="carrera"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="success" position="floating">Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="usuario.contrasena" name="contrasena" required></ion-input>
          <ion-input-password-toggle color="success" slot="end"></ion-input-password-toggle>
        </ion-item>

        <ion-item>
          <ion-label color="success" position="floating">Confirmar Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="usuario.confirmarContrasena" name="confirmarContrasena" required></ion-input>
          <ion-input-password-toggle color="success" slot="end"></ion-input-password-toggle>
        </ion-item>

      </form>
    </ion-card-content>
    <ion-button (click)="registroExitoso()" fill="outline" expand="block" color="success" type="submit">Registrar</ion-button>
  </ion-card>
</ion-content>
